.photos {
    margin-top: 4rem;
}

.photos__photos-conteiner {
    margin-top: 3rem;
}

.photos__image {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

@media (min-width: 500px) {
    .photos__photos-conteiner {
        column-count: 2;
        column-gap: 1.5rem;
    }
}

@media (min-width: 768px) {
    .photos {
        margin-top: 8rem;
    }
}

@media (min-width: 900px) {
    .photos__photos-conteiner {
        column-count: 3;
        column-gap: 1.5rem;
    }

    .photos {
        margin-top: 10rem;
    }
}
